@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.App {
  text-align: center;
}

.main-logo {
  margin-bottom: -100px;
  margin-top: 50px;
  width: 100px;
  z-index: 1;
}

#apppage .view {
  background-image: url('https://react-coming-soon.maksv.me/default-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.clock-styles {
  font-family: 'Montserrat', sans-serif !important;
  z-index: -1;
}